{% extends 'base.html.twig' %}

{% block title %}ColMarket
{% endblock %}

{% block body %}
{{ include('header.html.twig') }}
<main>
	<h1 class="text-2xl mb-6">{{ 'Mpanier.contenu'|trans }} #{{ panier.id }} {{ 'SuperAdmin.appartenant'|trans }} <strong>{{user.email}}</strong></h1>

	<h2 class="text-xl mb-4">{{ 'profil.dateAchat'|trans }} :
		{{ panier.dateAchat ? panier.dateAchat|date('d/m/Y H:i') : 'N/A' }}
	</h2>

	<table class="min-w-full bg-white border border-gray-200">
        <thead>
            <tr class="bg-gray-100 border-b">
                <th class="px-4 py-2 text-left text-gray-600">{{ 'Mproduits.titre'|trans }}</th>
                <th class="px-4 py-2 text-left text-gray-600">{{ 'Mpanier.quantite'|trans }}</th>
                <th class="px-4 py-2 text-left text-gray-600">{{ 'Mpanier.prixu'|trans }}</th>
                <th class="px-4 py-2 text-left text-gray-600">Total</th>
            </tr>
        </thead>
        <tbody>
            {% set totalGeneral = 0 %}
            {% for contenu in contenuPanier %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="px-4 py-2">{{ contenu.produit.nom }}</td>
                    <td class="px-4 py-2">{{ contenu.quantite }}</td>
                    <td class="px-4 py-2">{{ contenu.produit.prix }} €</td>
                    <td class="px-4 py-2">{{ contenu.produit.prix * contenu.quantite }} €</td>
                </tr>
                {% set totalGeneral = totalGeneral + (contenu.produit.prix * contenu.quantite) %}
            {% endfor %}
            <tr class="bg-gray-100">
					<td colspan="3" class="px-4 py-2 text-center">
						<strong>Total : {{ totalGeneral }}€</strong>
					</td>
				</tr>
        </tbody>
    </table>
</main>
{% endblock %}