{% extends 'base.html.twig' %}

{% block title %}ColMarket{% endblock %}

{% block body %}
	{{ include('header.html.twig') }}
    <main class="flex items-center justify-center flex-col">
        <form method="post" class="flex flex-col items-center gap-4 w-[40%] mt-16 mb-auto p-8 bg-slate-600 text-white rounded-lg">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="flex self-start text-xl ">{{ 'connexion.connexion'|trans }}</h1>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control text-black" autocomplete="email" required autofocus>
            <label for="password">{{ 'connexion.motdepasse'|trans }}</label>
            <input type="password" name="_password" id="password" class="form-control text-black" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="w-24 h-10 bg-gradient-to-br from-[#A85707] to-[#893526] rounded-full text-white" type="submit">
                {{ 'connexion.connexion'|trans }}
            </button>
            <p> {{ 'connexion.pascompte'|trans }} <a href="{{ path('app_register') }}" class="italic">{{ 'connexion.inscription'|trans }}</a></p>
        </form>
    </main>
{% endblock %}
