{% extends 'base.html.twig' %}

{% block title %}ColMarket{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <main>
        {% for produit in products %}
            <h2>{{produit.nom}}</h2>
            <p>{{produit.description}}</p>
            <form action="{{path('app_product_delete', {id: produit.id})}}" method="POST">
                <input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ produit.id) }}">
                <input type="submit" value="Delete">
            </form>
            <hr/>
        {% else %}
            <p>No products</p>
        {% endfor %}
    </main>
{% endblock %}
