{% extends 'base.html.twig' %}

{% block title %}ColMarket{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}
    <main>
        {% if is_granted('ROLE_ADMIN') %}
            {{ form(form) }}
        {% endif %}
        
        {% for produit in products %}
            {% if produit.photo is empty %}
            <p>No Image available<p>
            {% endif %}
            <a href="{{path('app_product_show', {id: produit.id}) }}"><h2>{{produit.nom}}</h2></a>
            <p>{{produit.description}}</p>
            <p>{{produit.prix}}€</p>
            <p>Quantité restante: {{produit.stock}}</p>
        {% else %}
            <p>No products available</p>
        {% endfor %}
    </main>
{% endblock %}
